:root {
    --gameplay-section-horizontal-alignment: 86px;
    --gameplay-section-colour-highlight-horizontal-alignment: 8px;
    --gameplay-section-player-information-vertical-alignemnt: 14px;
    --gameplay-section-player-information-horizontal-alignemnt: 29px;
    --gameplay-section-hits-container-vertical-alignment: 51px;
    --gameplay-section-score-number-main-vertical-alignment: 30px;
    --gameplay-section-score-number-main-horizontal-alignment: 30px;

    --gameplay-hits-circle-100-colour: #00ff72;
    --gameplay-hits-circle-50-colour: #ff7e00;
    --gameplay-hits-circle-0-colour: #ff6464;
}

/* ===========================
   Gameplay Section
=========================== */
.gameplay-section {
    position: absolute;
    top: 210px;
    width: 1178px;
    height: 1003px;
    border-radius: 50px;
}
.gameplay-section-left { left: var(--gameplay-section-horizontal-alignment) }
.gameplay-section-right { right: var(--gameplay-section-horizontal-alignment) }

/* ===========================
   Gameplay Section Overlay
=========================== */
.gameplay-section-overlay {
     position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0.42;
}
.gameplay-section-left-overlay { background-color: rgba(228, 53, 63, 0.42); }
.gameplay-section-right-overlay { background-color: rgba(0, 192, 255, 0.42); }

/* ===========================
   Gameplay Colour Highlight
=========================== */
.gameplay-section-colour-highlight {
    position: absolute;
    width: 100%;
    height: 100px;
    border-radius: inherit;
}
.gameplay-section-left-colour-highlight { background-color: #E7646C; }
.gameplay-section-right-colour-highlight {
    bottom: 0;
    background-color: #C0B5FB;
}

/* ===========================
   Gameplay Greenscreen
=========================== */
.gameplay-section-greenscreen {
    position: absolute;
    width: 100%;
    height: 885px;
    background-color: #0F0;
    border-radius: 50px;
}
.gameplay-section-left-greenscreen { top: var(--gameplay-section-colour-highlight-horizontal-alignment); }
.gameplay-section-right-greenscreen { bottom: var(--gameplay-section-colour-highlight-horizontal-alignment); }

/* ===========================
   Player Information
=========================== */
.gameplay-section-player-information {
    position: absolute;
    display: flex;
    gap: 6px;
}
.gameplay-section-left-player-information {
    bottom: var(--gameplay-section-player-information-vertical-alignemnt);
    left: var(--gameplay-section-player-information-horizontal-alignemnt);
}
.gameplay-section-right-player-information { 
    top: var(--gameplay-section-player-information-vertical-alignemnt);
    right: var(--gameplay-section-player-information-horizontal-alignemnt);
    flex-direction: row-reverse;
    text-align: right;
}

/* ===========================
   Profile Picture
=========================== */
.gameplay-section-player-profile-picture {
    --dimension: 87px;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 10px;
}

/* ===========================
   Player Details Container
=========================== */
.gameplay-section-player-details-container {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-family: "Zain";
    height: 87px;
    line-height: 32px;
}

/* ===========================
   Hits Container
=========================== */
.gameplay-section-hits-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}
.gameplay-section-left-hits-container { bottom: var(--gameplay-section-hits-container-vertical-alignment); }
.gameplay-section-right-hits-container { top: var(--gameplay-section-hits-container-vertical-alignment); }

/* ===========================
   Hits
=========================== */
.gameplay-section-hits {
    display: flex;
    align-items: center;
}

/* ===========================
   Hits Text
=========================== */
.gameplay-section-hits-text {
    font-size: 32px;
    letter-spacing: 3px;
    color: white;
    font-weight: 800;
    font-family: "Zain";
    line-height: 20px;
}

/* ===========================
   Hits Circle
=========================== */
.gameplay-section-hits-circle {
    --dimension: 19px;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 10px;
}
.gameplay-hits-circle-100 { 
    background-color: var(--gameplay-hits-circle-100-colour);
    box-shadow: 0 0 18px var(--gameplay-hits-circle-100-colour);
}
.gameplay-hits-circle-50 { 
    background-color: var(--gameplay-hits-circle-50-colour);
    box-shadow: 0 0 18px var(--gameplay-hits-circle-50-colour);
}
.gameplay-hits-circle-0 { 
    background-color: var(--gameplay-hits-circle-0-colour);
    box-shadow: 0 0 18px var(--gameplay-hits-circle-0-colour);
}

/* ===========================
   Score Number Main
=========================== */
.gameplay-section-score-number-main {
    position: absolute;
    display: flex;
}
.gameplay-section-left-score-number-main {
    bottom: var(--gameplay-section-score-number-main-vertical-alignment);
    right: var(--gameplay-section-score-number-main-horizontal-alignment);
}
.gameplay-section-right-score-number-main {
    top: var(--gameplay-section-score-number-main-vertical-alignment);
    left: var(--gameplay-section-score-number-main-horizontal-alignment);
}
.gameplay-section-left-score-number-main > * { margin-left: -15px; }
.gameplay-section-right-score-number-main > * { margin-right: -15px; }

/* ===========================
   Score Number Secondary Container
=========================== */
.gameplay-section-score-number-secondary-container {
    position: absolute;
    display: flex;
}
.gameplay-section-left-score-number-secondary-container {
    bottom: calc(var(--gameplay-section-score-number-main-vertical-alignment) + 23px);
    right: calc(var(--gameplay-section-score-number-main-horizontal-alignment) + 10px);
    width: 200px;
    height: 30px;
}
.gameplay-section-right-score-number-secondary-container {
    top: var(--gameplay-section-score-number-main-vertical-alignment);
    left: var(--gameplay-section-score-number-main-horizontal-alignment);
}

/* ===========================
   Score Number Secondary
=========================== */
.gameplay-section-score-number-secondary {
    position: absolute;
    display: flex;
}
.gameplay-section-left-score-number-secondary {
    width: 100%;
    justify-content: flex-end;
}
.gameplay-section-score-number-secondary > * { height: 30px; }
.gameplay-section-left-score-number-secondary > * { margin-left: -5px; }
.gameplay-section-right-score-number-secondary > * { margin-right: -5px; }
.gameplay-section-score-number-secondary > * { margin-right: -5px; }

/* ===========================
   Score Number Difference
=========================== */
.gameplay-section-score-number-difference {
    margin-top: 25px;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-family: "Rai Lowercase Regular";
}
.gameplay-section-left-score-number-difference {
    width: 100%;
    text-align: right;
}