@font-face {
    font-family: "Rai Lowercase Regular";
    src: url("../../font/RaiLowercase.ttf");
}
@font-face {
    font-family: "Zain";
    src: url("../../font/Zain-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Zain";
    src: url("../../font/Zain-ExtraBold.ttf");
    font-weight: 700;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;
    height: 1440px;
    background-image: url("../static/background.png")
}

.round-name {
    position: absolute;
    top: 76px;
    left: 82px;
}

.preload-images {
    opacity: 0;
}

video {
    position: absolute;
    left: 0;
    top: 0;
    width: 2560px;
    height: 1440px;
}