/* ===========================
    Variables
=========================== */

:root {
    --tile-overlay-dark: rgba(0, 0, 0, 0.8);
    --tile-overlay-light: rgba(0, 0, 0, 0);
    --tile-overlay-static: rgba(0, 0, 0, 0.34);
    --tile-detail-horizontal-alignment: 20px;
}

/* ===========================
   Mappool Section
=========================== */
.mappool-section {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 1216px;
    height: 1267px;
    background-image: url("../static/mappoolBody.png");
}
.mappool-main-section {
    position: absolute;
    top: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
}

/* ===========================
   Layout Sections
=========================== */

/* Ban Line */
.ban-line {
    width: 1137px;
}

/* Tile Section */
.tile-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 1126px;
}
.tile-section > * > * { 
    width: 558px;
    margin-bottom: 8px;
}

/* ===========================
   Mappool Tile
=========================== */
/* Extended Rectangle's height is 129px + height of tile */
.tile {
    position: relative;
    height: 121px;
    border-radius: 30px;
    background-image: url("https://assets.ppy.sh/beatmaps/618058/covers/cover.jpg");
    background-size: cover;
    background-position: center;
}
.mappool-tile { width: 558px; }
/* Tiebreaker */
.tiebreaker {
    width: 1118px;
    margin-top: -8px;
}

/* ===========================
   Mappool Tile Overlay
=========================== */
.tile-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-size: 100% 150%;
    background-repeat: no-repeat;
}
.tile-overlay-left {
    background: linear-gradient(to right, var(--tile-overlay-dark), var(--tile-overlay-light)), var(--tile-overlay-static);
}
.tile-overlay-right {
    background: linear-gradient(to left, var(--tile-overlay-dark), var(--tile-overlay-light)), var(--tile-overlay-static);
}

/* ===========================
   Mappool Tile Details
=========================== */
.tile-detail {
    position: absolute;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #e7e7e7;
    font-family: "Zain";
    filter: drop-shadow(-0.156px 0.988px 0px #000000);
    font-size: 26px;
}
/* Mappool Tile Details */
.mappool-tile-detail {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 350px;
}
.ban-section-left .mappool-tile .mappool-tile-detail, .pick-section-left .mappool-tile .mappool-tile-detail { left: var(--tile-detail-horizontal-alignment); }
.ban-section-right .mappool-tile .mappool-tile-detail, .pick-section-right .mappool-tile .mappool-tile-detail { 
    right: var(--tile-detail-horizontal-alignment);
    text-align: right;
}
/* Tiebreaker Tile Details */
.tiebreaker-tile-detail { left: 175px; }

/* ===========================
   Mappool Tile Artist and Title
=========================== */
.tile-artist {
    top: 30px;
    font-weight: 400;
}
.tile-artist-score-added { top: 12px; }

/* Mappool Tile Title */
.tile-title {
    top: 58px;
    font-weight: 800;
}
.tile-title-score-added { top: 42px; }

/* ===========================
   Mappool Tile Mod Icon
=========================== */
.mappool-tile-mod {
    position: absolute;
    top: 23px;
}
.ban-section-left .mappool-tile .mappool-tile-mod, .pick-section-left .mappool-tile .mappool-tile-mod { right: var(--tile-detail-horizontal-alignment); }
.ban-section-right .mappool-tile .mappool-tile-mod, .pick-section-right .mappool-tile .mappool-tile-mod { left: var(--tile-detail-horizontal-alignment); }

/* Tiebreaker Icon */
.tiebreaker-icon {
    position: absolute;
    top: 50%;
    left: var(--tile-detail-horizontal-alignment);
    transform: translateY(-50%);
}

/* ===========================
   Mappool Tile Play Icon
=========================== */
/* Play Icon */
.mappool-tile-play-icon {
    position: absolute;
    top: 52px;
    left: 137px;
}

/* ===========================
   Mappool Tile Score
=========================== */
.mappool-tile-score {
    position: absolute;
    top: 74px;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    font-family: "Rai Lowercase Regular";
}
.pick-section-left .mappool-tile .mappool-tile-score { left: 20px; }
.pick-section-right .mappool-tile .mappool-tile-score { right: 20px; }
.mappool-tile-win-score {
    font-size: 25px;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px  1px 0 white,
        1px  1px 0 white;
}
.mappool-tile-win-score-left { color: #ff8787; }
.mappool-tile-win-score-right { color: #87bfff; }

/* ===========================
   Mappool Tile Length BPM Container
=========================== */
.tile-length-bpm-container {
    position: absolute;
    right: var(--tile-detail-horizontal-alignment);
    display: flex;
    gap: 20px;
}
.mappool-tile-length-bpm { top: 100px; }
.tiebreaker-tile-length-bpm { top: 15px; }

/* ===========================
   Mappool Tile Stats Container
=========================== */
.tile-stats-container {
    position: absolute;
    display: flex;
    gap: 20px;
}
.mappool-tile-stats-container {
    top: 161px;
    right: 20px;
}
.tiebreaker-tile-stats-container {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ===========================
   Mappool Tile Stats
=========================== */
.tile-stat {
    font-size: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d2d2d2;
    font-weight: 800;
    font-family: "Zain";
}
.tile-stat-number {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin-left: 5px;
}

/* ===========================
   Mappool Tile Mapped By
=========================== */
.tile-mapped-by-container {
    position: absolute;
    right: var(--tile-detail-horizontal-alignment);
    color: white;
    font-size: 23px;
    font-weight: 800;
    font-family: "Zain";
    letter-spacing: 2px;
}
.mappool-tile-mapped-by-container { top: 197px; }
.tiebreaker-tile-mapped-by-container { top: 72px; }
.mappool-tile-mapper {
    font-weight: 800;
    font-size: 30px;
}