/* Mappool Section */
.mappool-section {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    width: 1216px;
    height: 1267px;
    /* background-image: url("../static/mappoolBody.png"); */
}

/* Mappool Main Section */
.mappool-main-section {
    position: absolute;
    top: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Ban Line */
.ban-line {
    margin-top: 10px;
    margin-bottom: 6px;
    width: 1137px;
}

/* Tile Section */
.tile-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 1126px;
}
.tile-section > * { width: 558px; }

/* Mappool Tile */
.mappool-tile {
    position: relative;
    width: 558px;
    height: 123px;
    border-radius: 30px;
    /* background-color: black;
    background-image: url("https://assets.ppy.sh/beatmaps/618058/covers/cover.jpg");
    background-size: cover;
    background-position: center; */
}

/* Mappool Tile Overlay */
/* .mappool-tile-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-size: 100% 150%;
    background-repeat: no-repeat;
}
.left-ban-section .mappool-tile .mappool-tile-overlay, .left-pick-section .mappool-tile .mappool-tile-overlay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), rgba(0, 0, 0, 0.34);
}
.right-ban-section .mappool-tile .mappool-tile-overlay, .right-pick-section .mappool-tile .mappool-tile-overlay {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), rgba(0, 0, 0, 0.34);
} */

/* Mappool Tile Details */
.mappool-tile-detail {
    position: absolute;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #e7e7e7;
    font-family: "Zain";
    filter: drop-shadow(-0.156px 0.988px 0px #000000);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 350px;
}
.left-ban-section .mappool-tile .mappool-tile-detail, .left-pick-section .mappool-tile .mappool-tile-detail { left: 25px; }
.right-ban-section .mappool-tile .mappool-tile-detail, .right-pick-section .mappool-tile .mappool-tile-detail { 
    right: 25px;
    text-align: right;
}

/* Mappool Tile Artist */
.mappool-tile-artist {
    top: 26px;
    font-size: 26px;
    font-weight: 400;
}
.mappool-tile-artist-score-added { top: 9px; }

/* Mappool Tile Title */
.mappool-tile-title {
    top: 59px;
    font-size: 25px;
    font-weight: 800;
    filter: drop-shadow(-0.156px 0.988px 0px #000000);
}
.mappool-tile-title-score-added { top: 43px; }

/* Mappool Tile Mod */
.mappool-tile-mod {
    position: absolute;
    top: 24px;
}
.left-ban-section .mappool-tile .mappool-tile-mod, .left-pick-section .mappool-tile .mappool-tile-mod { right: 0; }

/* Mappool Tile Score */
.mappool-tile-score {
    position: absolute;
    top: 75px;
     
    font-size: 22px;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: "Rai Lowercase Regular";
}
.left-pick-section .mappool-tile .mappool-tile-score { left: 25px; }
.right-pick-section .mappool-tile .mappool-tile-score { right: 25px; }
.mappool-tile-win-score {
    font-size: 25px;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px  1px 0 white,
        1px  1px 0 white;
}
.mappool-tile-win-score-left { color: #ff8787; }
.mappool-tile-win-score-right { color: #87bfff; }

/* Stats Container */
.mappool-tile-stats-container {
    position: absolute;
    top: 193px;
    right: 25px;
    display: flex;
    gap: 20px;
}

/* Length and BPM */
.mappool-tile-length-bpm {
    position: absolute;
    top: 132px;
    right: 25px;
    display: flex;
    gap: 20px;
}

/* Mappool Tile Stats */
.mappool-tile-stat {
    font-size: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d2d2d2;
    font-weight: 800;
    font-family: "Zain";
}
.mappool-tile-stat-number {
    font-size: 25px;
    font-weight: 800;
    color: white;
    margin-left: 5px;
}

/* Mappool Tile Mapped By */
.mappool-tile-mapped-by-container {
    position: absolute;
    top: 229px;
    right: 25px;
    font-size: 23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Zain";
}
.mappool-tile-mapper {
    font-weight: 800;
    font-size: 30px;
}