/* ===========================
   Team Section
=========================== */
.team-section {
    position: absolute;
    top: 254px;
    width: 600px;
}
.team-section-right { right: 0px; }

/* ===========================
   Team Name
=========================== */
.team-name {
    position: absolute;
    font-family: "Rai Lowercase Regular";
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2.5px;
}
.team-section-left .team-name { right: 0px; }

/* ===========================
   Team Star Container
=========================== */
.team-star-container {
    position: absolute;
    top: 60px;
    display: flex;
}
.team-section-left .team-star-container { 
    right: -19px;
    flex-direction: row-reverse;
}
.team-section-right .team-star-container {  left: -19px; }

/* ===========================
   Team Star Wrapper
=========================== */
.team-star-wrapper {
    margin-left: -9px;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

/* ===========================
   Team Players Container
=========================== */
.team-players {
    position: absolute;
    top: 183px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.team-section-left .team-players { right: -5px; }
.team-section-right .team-players { left: -5px; }

/* ===========================
   Team Player Container
=========================== */
.team-player-container {
    display: flex;
    gap: 18px;
}
.team-section-left .team-players .team-player-container { flex-direction: row-reverse; }

/* ===========================
   Team Player Profile Picture
=========================== */
.team-player-profile-picture {
    width: 87px;
    height: 87px;
    border-radius: 10px;
    background-color: #b4ffff;
}

/* ===========================
   Team Player Detail Container
=========================== */
.team-player-detail-container {
    color: white;
    font-weight: 800;
    font-family: "Zain";
    font-size: 26px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}
.team-player-detail {
    margin-top: -3px;
    text-align: right;
}
.team-player-detail-seed {
    margin-top: -7px;
}
.team-section-right .team-players .team-player-container .team-player-detail-container .team-player-detail {
    text-align: left;
}

/* ===========================
   Team Seed
=========================== */
.team-seed {
    position: absolute;
    top: 253px;
    font-family: "Rai Lowercase Regular";
    text-transform: uppercase;
    font-size: 53px;
    letter-spacing: 5px;
    color: white;
}
.team-section-left .team-seed { left: 50px; }
.team-section-right .team-seed { right: 50px; }

/* ===========================
   Team Mod Stats
=========================== */
.team-mod-stats {
    position: absolute;
    top: 481px;
    display: flex;
    gap: 60px;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: "Rai Lowercase Regular";
    text-align: center;
}
.team-mod-nm { color: #dadada; }
.team-mod-hd { color: #FFDAA9; }
.team-mod-hr { color: #FFA9A9; }
.team-mod-dt { color: #A9BBFF; }
.team-mod-rx { color: #A9ECFF; }
.team-section-left .team-mod-stats { right: 0; }
.team-section-right .team-mod-stats { left: 0; }